/*header*/
.header{
	width: 100%;	
	height: 50px;
	background: rgba(0,0,0,0.3);
}
.header ul {
	list-style: none;
	margin: auto;
}
.header ul li{
	display: inline-block;
}
.main{
	max-height: 2068px;
	width: 100%;
}
.nav{
	width: 245px;
	height: 100%;
}
.content{

}