body{
	padding: 0;
	margin:0;
}
.box{
    width:200px;
	height:200px;
	background:#aaa;
	position: relative;
	display: block;
	padding: 3px;
	float: left;
	margin:10px 0px 0 20px;
}
.box .img-text{
	margin-top:-30px;
	height:30px;
	position: relative;
	text-align:center;
	color: transparent;
	z-index: 0;
}

.box:hover .img-text{
	/*background-color:red;*/
	background:rgba(0,0,0,0.5);
	color:#fff;
	z-index: 10;
}