.main{
	width: 100%;
	height:100%; 
	background: #f4f4f4;
	/*display: -moz-box; 
	display: -webkit-box; 
	display: box; */
	  display: -webkit-flex; /* Safari */
}
.nav{
	width: 120px;
	height: 100%;
	background: #999;
}
.nav ul{
	list-style: none;
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
}
.nav ul li{
	display: list-item;
	background: rgba(222,222,222,0.8);
	border: #000 solid 3px;
	line-height: 30px;
}
.nav ul li a{
	display: inherit;
}
.content{
	height: 100%;
	background: #D4D4D4;
	overflow: auto;
	overflow-x:hidden; 
	-moz-box-flex: 1; 
	-webkit-box-flex: 1; 
	box-flex: 1;
	/*display: -moz-box; 
	display: -webkit-box; 
	display: box; */
	  display: flex;
}
.box{
	width: 200px;
	height: 200px;
	/*background: #000;*/
	margin: 2px;
/*	-moz-box-flex: 2; 
	-webkit-box-flex: 2; 
	box-flex: 2;*/
	-moz-box-flex-wrap:  wrap-reverse; 
	-webkit-box-flex-wrap:  wrap-reverse; 
	box-flex-wrap: wrap-reverse;
	 flex-direction: row ;
	 flex-wrap: wrap;
}