*{
	margin: 0;
	padding: 0;
}
#content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	border:1px solid #ccc;
}
ul,li{
	list-style: none;
}
.content-wrap{
	position: relative;
}
.content-wrap > li{
        width: 100%;
        height: 100%;
        background: #CAE1FF;
        color: red;
        float: left;
        overflow: hidden;
        position: relative;
     	-webkit-background-size: cover;
		background-size: cover;
}

li:nth-child(1){
	 background: #9BCD9B;
	 /*以下是图片的，需要使用只需把注释打开*/
/*	 background: url(./pic01.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;*/
}
li:nth-child(2){
	 background: #9BCD1B;
/*	 background: url(./pic02.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;*/
}
li:nth-child(3){
 	 background: yellow;
/* 	 background: url(./pic03.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;*/
}

#start{
	position: absolute;
	bottom: 0;
	width:100px;
	height: 40px;
}
#restart{
	position: absolute;
	bottom: 0;
	right:0;
	width:100px;
	height: 40px;
}
